/* Inicio do código de estilo do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: rgb(141, 141, 141);
  width: 100%;
  margin: 4rem 0;
  background: url(/img/Fundos/fundo2.png); /*ou use o img7*/
  background-size: cover; /*cobre toda a tela com a imagem*/
  background-position: center; /*centraliza a imagem*/
}
h1 {
  color: rgb(128, 128, 128);
}
header {
  background-color: transparent;
  color: rgb(141, 141, 141);
  padding: 5px;
  /* box-shadow: 1px 1px 10px  #ffffff; */
  /* border-radius: 10px; */
}
/* header .container:hover/*(:hover)significa ao levar o mouse{
    padding: 1.5rem 0;
    transform:translateY(10px);vai deslocar o bloco quando o mouse estiver em cima, ela da animação, o sinal (-) move para cima, se quiser para baixo é só tirar o sinal
    box-shadow: 1px 1px 10px  #ffffff;
    border-radius: 10px;

}*/

footer {
  align-items: center;
  background-color: transparent;
  color: rgb(141, 141, 141);
  text-align: center;
  padding: 1rem;
  margin: 4rem;
  box-shadow: 0px 4px 6px rgba(254, 254, 254, 0.2);
  border-radius: 2rem;
}

/*Fim do CSS global*/

/* Inicio das tags */
p {
  font-size: 0.9rem;
  color: rgb(153, 153, 153);
}
button {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: #cbcbcb;
  font-weight: bold;
  font-weight: 600;
  margin-top: 15px;
}
button:disabled {
  background-color: rgb(250, 0, 0);
  color: rgb(255, 255, 255);
  cursor: not-allowed; /*icone de "proibido" no mouse*/
  opacity: 0.6; /*Fica meio transparente*/
  transform: scale(0.98); /*Dá um leve efeito de "afundado"*/
}
/* Fim das tags */

/* Inicio das classes */
.container {
  margin: 4rem auto; /*centraliza o container na tela*/
  width: 25rem; /*largura do container*/
  background-color: transparent; /*cor de fundo transparente*/
  border-radius: 2rem;
  color: whitesmoke;
  padding: 5rem; /*espaçamento interno*/
  box-shadow: 0px 4px 6px rgba(172, 171, 171, 0.127);
  backdrop-filter: blur(5px); /*efeito de desfoque no fundo do container*/
}
.container h1 {
  font-size: 36px;
  text-align: center;
}
.input-box {
  position: relative; /*posição relativa para o label*/
  width: 100%;
  height: 30px; /*altura da caixa de input*/
  margin: 30px 0; /*espaçamento em cima e embaixo*/
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  outline-color: rgb(255, 255, 255); /*cor do contorno ao clicar*/
  /* outline: none;remove o contorno padrão */
  font-size: 18px;
  color: whitesmoke;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: rgb(234, 224, 224);
}
.input-box i {
  position: absolute; /*posição absoluta para o ícone*/
  right: 20px; /*posição do ícone a direita*/
  top: 50%;
  transform: translateY(
    -25%
  ); /*centraliza o ícone verticalmente, mas o top tem que estar com 50%*/
  font-size: 20px; /*tamanho do ícone*/
}
.remember {
  display: flex; /*deixa o checkbox e o texto na mesma linha*/
  justify-content: space-between; /*espaçamento entre o checkbox e o texto*/
  margin: -15px 0 15px;
  margin-top: 20px;
}
.remember label input {
  accent-color: #000000; /*cor do checkbox*/
  margin-right: 5px; /*espaçamento entre o checkbox e o texto*/
}
.remember a {
  text-decoration: none; /*remove o sublinhado do link*/
  color: rgb(153, 153, 153);
}
.remember a:hover {
  text-decoration: underline; /*sublinhado ao passar o mouse*/
}
.login {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: #cbcbcb;
  font-weight: bold;
  font-weight: 600;
  margin-top: 15px;
}
.login:hover {
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(249, 249, 249);
  transition: 0.1s;
}
.register-link {
  font-size: 14px;
  text-align: center;
  margin-top: 20px 0 20px;
}
.register-link a {
  text-decoration: none;
  color: rgb(153, 153, 153);
  font-weight: 600;
}
.register-link a:hover {
  text-decoration: underline;
}
/* Fim das classes */
