/* Inicio do código de estilo do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
    
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: rgb(141, 141, 141);
    width: 100%;
    margin: auto;
    background: url(/img/Fundos/fundo2.png) ;/*ou use o img7*/
    background-size: cover;/*cobre toda a tela com a imagem*/
    background-position: center;/*centraliza a imagem*/
}
header{
    background-color: transparent;
    color: rgb(141, 141, 141);
    padding: 5px;
    /* box-shadow: 1px 1px 10px  #ffffff; */
    /* border-radius: 10px; */
    
}
/* header .container:hover/*(:hover)significa ao levar o mouse{
    padding: 1.5rem 0;
    transform:translateY(10px);vai deslocar o bloco quando o mouse estiver em cima, ela da animação, o sinal (-) move para cima, se quiser para baixo é só tirar o sinal
    box-shadow: 1px 1px 10px  #ffffff;
    border-radius: 10px;

}*/
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    padding: 0 20px;
    image-orientation: left;
}
.container2{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
}
footer{
    align-items: center;
    background-color: transparent;
    color: rgb(141, 141, 141);
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow:0px 4px 6px rgba(254, 254, 254, 0.2);
    border-radius: 2rem;
    
}

/*Fim do CSS global*/


/*Inicio do CSS menu*/
nav ul{
    list-style: none;/*tira as bolinha*/
    display: flex;
    gap: 1rem;/*espaço entre os elementos*/
    margin: 0px;
    padding: 0px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(141, 141, 141);
    font-weight: bold;
    padding: 10px;
}
nav ul li a:hover/*hover ele tem a função de trocar*/{
    color: darkgrey;
}
#menu-toggle/*ira trazer um desenho no lugar do menu*/{
    display: none;
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: rgb(255, 254, 254);
}
#menu-toggle:hover{
    background-color: grey;
    border-radius: 5px;
    padding: 6px;
    
}
/*Fim do CSS menu*/


/*Inicio CSS pagina Home-------------------------------*/
/*Inicio do CSS para as section*/

.divsec{ 
    /*flex:1 1 calc(50% 1rem);*/
    background-color: black;
    padding:1.5rem;
    border-radius:10px;
    margin:10px 0px;
    /*box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);*//*Cria uma caixa em volta dos textos e da uma cor nas bordas*/
    background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 14, 43));/*da um efeito gradieente de cor*/
    border:0.5px solid #ffffff;
}
.divsec h2{
    color: darkgrey;
    margin-bottom:1rem;
    
}
.divsec p{
    color: darkgrey;
    text-align: justify;
}

/*Fim do CSS para as section*/

/*Inicio do CSS para o botoão*/
.btn{
    display: inline-block;
    padding: 0.75rem 1rem;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;/*deixa o texto em negrito*/
    font-size: 10px;
    transition:background 0.3s;
}
.btn:hover{
    background-color: darkgrey;
}
/*Fim do CSS para o botão*/
/*Fim CSS pagina Home-------------------------------*/


/*----------------Inicio  resposivo CSS todas as paginas--------------*/
@media (max-width:768px) {
    #menu ul{
        display:none;
        flex-direction:column;
        gap:0px;
        background-color: rgb(0, 0, 0);
        position:absolute;
        top:80px;
        right:50px;
        z-index:1000;
    }
    #menu li ul{
        text-align:center;
        padding:6px 0px;
    }
    #menu-toggle{
        display:block;
    }
    #menu.open ul{
        display:flex;
        border-radius: 15px;
    }
    #menu ul li :hover{
        color: black;
        border-radius: 15px;
        background-color: white;
    }}
.divsec h2{
    
    font-size: 18px;
}
/*----------------Fim  resposivo CSS todas as paginas--------------*/



/*Inicio CSS pagina projetos--------------------------------------*/
/*Grade de Projetos*/
.projeto-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));/*organiza automaticamente os conteúdos na tela*/
    /*1fr é linha*/
    gap:2rem;/*espaço entre as coluna*/ 
    margin-top: 2rem;
}
.projeto-card{
    background-color: transparent;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition:transform 0.3s, box-shadow 0.3s;

}
.projeto-card:hover/*(:hover)significa ao levar o mouse*/{
    box-shadow:0px 8px 12px rgba(255, 255, 255, 0.355);
    transform:translateY(-10px);/*vai deslocar o bloco quando o mouse estiver em cima, ela da animação, o sinal (-) move para cima, se quiser para baixo é só tirar o sinal*/

}
.projeto-card img{
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 1rem;
    height: auto;

}
.projeto-card h3{
    font-size: 1.5rem;/*tamanho da fonte*/
    color: darkgray;
    margin-bottom: 0.5rem;
}
.projeto-card p{
    font-size: 1rem;/*tamanho da fonte*/
    color: darkgray;
    margin-bottom: 1rem;
    text-align: center;
    font-style: italic;
}
.projeto-card .btn{
    color: darkgray;
    display: inline-block;/*cria um bloco de botões*/
    padding: 0.75rem 1.5rem;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.projeto-card .btn:hover{
    background-color: darkgrey;
    color: black;
}
/*Fim CSS pagina projetos--------------------------------------*/
